# Node
node_modules/
dist/
build/
.vite/
.next/
out/

# Cache
.npm-cache/
**/.npm-cache/
**/_cacache/
**/.cache/
.npm/

# Env
.env
.env.*

# Logs
*.log

# Zips / backups
*.zip
*.7z
*.rar

# Temporários
.tmp.driveupload/

# SO
.DS_Store
Thumbs.db
